@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&display=swap");

/* css variables */

:root {
  --main-color: #443;
  /* horizontal / vertical */
  --border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%;
  --border-radius-hover: 4% 95% 6% 95% / 95% 4% 92% 5%;

  --border: 0.2rem solid var(--main-color);
  --border-hover: 0.2rem dotted var(--main-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Oxygen, sans-serif";
  /* outline: none; */
  /* border: none; */
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

/* for all sections */
section {
  padding: 2rem 9%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.header .logo {
  color: var(--main-color);
  font-size: 2.3rem;
}

.header .logo i {
  padding-left: 1rem;
}



/* sidebar */
.sidebar{
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: 7rem;
  left: 0;
  height: 30vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.041);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  font-size: 3rem;
  text-align: center;
}

/* sidebar */
.sidebar a{
  color: #443;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  padding: 5px;
  gap: 3rem;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  margin-left: 5rem;
}

.sidebar i{
  margin-left: 19rem;
  position: relative;
  top: -2rem;
}
/* sidebar ends here */

/* start of hamburger */
 #menu {
  display: none;
  background-color: #333;
  color: white;
  padding: 10px;
  list-style: none;
}
#menu.active {
  display: block;
}
#menu-btn {
  font-size: 30px;
  cursor: pointer;
  color: #333;
}
/* end of hamburger */

.header .navbar a {
  margin: 0 1rem;
  color: var(--main-color);
  font-size: 1.7rem;
}

.header .navbar a:hover {
  background-color: var(--main-color);
  color: #fff;
  padding: 20px;
  justify-content: center;
  border-radius: 10px;
  background-image: linear-gradient(to top, #443 30%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-decoration-color: transparent;
}

.btn {
  border: var(--border);
  padding: 0.9rem 1.5rem;
  border-radius: var(--border-radius);
  color: var(--main-color);
  /* font-size: 1.7rem; */
}

.btn:hover {
  border-radius: var(--border-radius-hover);
  border: var(--border-hover);
}

.heading {
  font-size: 9rem;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.05rem var(--main-color);
  letter-spacing: 0.2rem;
  line-height: 1.6;
  text-align: center;
  position: relative;
  pointer-events: none;
}

.heading span {
  position: absolute;
  width: 100%;
  color: var(--main-color);
  font-size: 5rem;
  justify-content: center;
  align-items: center;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

/* home */

.home {
  min-height: 100vh;
  padding-top: 150px;
  background-image: url(../images/image/home-bg.jpg);
  background-size: cover;
  background-position: center;
}

.home .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
}

.home .row .content {
  width: 50rem;
  padding-top: 10rem;
}

.home .row .content h3 {
  text-transform: uppercase;
  color: var(--main-color);
  font-size: 6.5rem;
  margin-bottom: 2rem;
}

.home .row .image {
  width: 100%;
  max-width: 42rem;
  margin: 0 auto;
  padding-top: 6rem;
  text-align: center;
}

.home .image-slider {
  text-align: center;
  padding: 3rem 0;
  padding-top: 15rem;
}

.home .image-slider img {
  margin-top: 5rem;
  height: 9rem;
  animation: move 3s linear infinite;
}

.home .row .image img {
  height: 25rem;
  animation: move 6s linear infinite;
}

@keyframes move {
  0%,
  100% {
    transform: translateX(0rem) rotate(-10deg);
  }

  50% {
    transform: translateX(-7rem) rotate(10deg);
  }
}

.home .image-slider img:hover {
  transform: translateY(-2rem);
}

/* about section */
.about .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  justify-content: center;
}

.about .row .image {
  width: 100%;
  max-width: 42rem;
  margin: 0 auto;
  text-align: center;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 42rem;
}

.about .row .content .title {
  color: var(--main-color);
  font-size: 3rem;
  line-height: 1.8;
}

section {
  padding: 4% 10%;
}

.about .row .content p {
  color: var(--main-color);
  font-size: 1.5rem;
  line-height: 1.8;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.about .row .content .btn {
  margin: 5rem 0;
}

.about .row .content .icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.about .row .content .icons-container .icons {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 2rem;
  text-align: center;
  cursor: pointer;
}

.about .row .content .icons-container .icons:hover {
  border-radius: var(--border-radius-hover);
}

/* menu section */

.menu {
  background-image: url(../images/image/menu-bg.jpg);
  background-position: center;
  background-size: cover;
}

.menu .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.menu .box-container .box {
  border: var(--border);
  border-radius: var(--border-radius);
  gap: 1.5rem;
  margin-left: 5rem;
  align-items: center;
  flex: 1 1 42rem;
  display: flex;
  padding: 2rem;
}

.menu .box-container .box img {
  height: 10rem;
}

.menu .box-container .box .content {
  padding-left: 2rem;
  color: var(--main-color);
}

.menu .box-container .box .content h3 {
  font-size: 3rem;
}

.menu .box-container .box .content p {
  font-size: 1.5rem;
}

.menu .box-container .box .content .price {
  font-size: 2rem;
}

/* review */

.review .review-slider {
  padding: 10rem 0;
}

.review .review-slider .box {
  border: var(--border);
  border-radius: var(--border-radius);
  text-align: center;
  padding: 3rem 2rem;
  margin: 2rem 0;
  user-select: none;
  position: relative;
}

.review .review-slider .box .fa-quote-left {
  z-index: 1;
  color: #443;
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 6rem;
}

.review .review-slider .box .fa-quote-right {
  z-index: 1;
  color: #443;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 6rem;
}

.review .review-slider .box img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.review .review-slider {
  padding: 10rem 0;
  z-index: -1;
}

/* book section */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input.box, textarea.box {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}


input[type="submit"].btn:hover {
    background-color: #443;
    color: #fff;
}


.footer {
    padding: 20px 0;
    text-align: center;
    font-size: 35px;
}

.footer-container i {
    color: red; 
}


/* MEDIA QUERIES  */

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {

  .header .navbar{
    display: none;
  }

  body, html{
    overflow-x: hidden;
  }

  .section {
    width: 100%;
    overflow-x: hidden;
  }

  .header .nav-bar {
    display: none;
  }

  .heading {
    font-size: 5rem;
  }

  .menu .heading {
    color: var(--main-clr);
    padding-bottom: 1rem;
  }
/* 
  #about .heading h1 span{
    display: flex;
    font-size: 2rem;
  } */

  .heading span {
    display: flex;
    font-size: 2rem;
    position: relative;
    top: -16rem;
    /* margin-bottom: 30rem; */
   }


  .book span{

    position: relative;
    top: 2rem;

  } 

  .review span{
    position: relative;
    top: -1rem;
  }

  .review span{
    position: relative;
    top: 0.5rem;
  }

  .home .row .content {
    width: 95%;
    padding-top: 3rem;
  }

  .home .row .content h3 {
    font-size: 4rem;
    text-wrap: wrap;
    width: 70%;
  }

  .home .image-slider {
    padding-top: 5rem;
  }

  .home .image-slider img {
    height: 8rem;
  }

  .home .row .image {
    padding: 4rem 0rem 0rem 9rem;
  }

  .home .row .image img {
    height: 16rem;
  }

  .home {
    background-size: 160rem;
    background-repeat: no-repeat;
    background-position: top;
  }

  .about .row {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
  }

  .about .row .icons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
  }

  .about .row .icons-container div:nth-of-type(3){
    grid-column: span 2;
    grid-row: 2;
    align-self: center;
  }

  .menu .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  .menu .box-container .box {
    margin: 0.5rem;
    width: 95%;
  }

  .menu .box-container .box img {
    height: 7rem;
  }

  .menu .box-container .box .content h3 {
    font-size: 2rem;
    margin: 0.5rem;
  }
}

.menu .box-container .box .content p {
  font-size: 1rem;
  margin: 0.5rem;
}

.menu .box-container .box .content .price {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.review .review-slider {
  padding: 0rem;
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
 ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .section {
    width: 100%;
  }

  .header .nav-bar {
    display: none;
  }

  .heading {
    font-size: 5rem;
  }

  .menu .heading {
    color: var(--main-clr);
    padding-bottom: 1rem;
  }

  .heading span {
    font-size: 2rem;
  }

  .home .row .content {
    width: 95%;
    padding-top: 3rem;
  }

  .home .row .content h3 {
    font-size: 4rem;
    text-wrap: wrap;
    width: fit-content;
  }

  .home .image-slider {
    padding-top: 7rem;
  }

  .home .image-slider img {
    height: 8rem;
  }

  .home .row .image {
    padding: 4rem 0rem 0rem 10rem;
  }

  .home .row .image img {
    height: 19rem;
  }

  .home {
    background-size: 120rem;
    background-repeat: no-repeat;
    background-position: top;
  }

  .about .row {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
  }

  .about .row .icons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .menu .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  .menu .box-container .box {
    margin: 0.5rem;
    width: 95%;
  }

  .menu .box-container .box img {
    height: 7rem;
  }

  .menu .box-container .box .content h3 {
    font-size: 2rem;
    margin: 0.5rem;
  }

  .menu .box-container .box .content p {
    font-size: 1rem;
    margin: 0.5rem;
  }

  .menu .box-container .box .content .price {
    font-size: 1.5rem;
    margin: 0.5rem;
  }

  .review .review-slider {
    padding: 0rem;
  }
}
/* 
  ##Device = Tablets, Ipads (landscape)  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

   .header #menu-btn{
    display: none;
  }
  .section {
    width: 100%;
  }

  .header .nav-bar {
    display: none;
  }

  .heading {
    font-size: 5rem;
  }

  .menu .heading {
    color: var(--main-clr);
    padding-bottom: 1rem;
  }

  .heading span {
    font-size: 2rem;
  }

  .home .row .content {
    width: 95%;
    padding-top: 3rem;
  }

  .home .row .content h3 {
    font-size: 6rem;
    text-wrap: wrap;
    width: fit-content;
  }

  .home .image-slider {
    padding-top: 7rem;
  }

  .home .image-slider img {
    height: 8rem;
  }

  .home .row .image {
    padding: 4rem 0rem 0rem 10rem;
  }

  .home .row .image img {
    height: 26rem;
  }

  .home {
    background-size: 150rem;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 20rem;
  }

  .menu .box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 2rem;
  }

  .menu .box-container .box {
    margin: 0.5rem;
    width: 95%;
  }

  .menu .box-container .box img {
    height: 7rem;
  }

  .menu .box-container .box .content h3 {
    font-size: 2rem;
    margin: 0.5rem;
  }

  .menu .box-container .box .content p {
    font-size: 1rem;
    margin: 0.5rem;
  }

  .menu .box-container .box .content .price {
    font-size: 1.5rem;
    margin: 0.5rem;
  }

  .about .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .review .review-slider {
    padding: 0rem;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .section {
    width: 100%;
  }

  .header .nav-bar {
    display: none;
  }

  .heading {
    font-size: 5rem;
  }

  .menu .heading {
    color: var(--main-clr);
    padding-bottom: 1rem;
  }

  .heading span {
    font-size: 2rem;
  }

  .home .row .content {
    width: 95%;
    padding-top: 3rem;
  }

  .home .row .content h3 {
    font-size: 6rem;
    text-wrap: wrap;
    width: fit-content;
  }

  .home .image-slider {
    padding-top: 7rem;
  }

  .home .image-slider img {
    height: 8rem;
  }

  .home .row .image {
    padding: 4rem 0rem 0rem 10rem;
  }

  .home .row .image img {
    height: 26rem;
  }

  .home {
    background-size: 150rem;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 20rem;
  }

  .menu .box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 2rem;
  }

  .menu .box-container .box {
    margin: 0.5rem;
    width: 95%;
  }

  .menu .box-container .box img {
    height: 7rem;
  }

  .menu .box-container .box .content h3 {
    font-size: 2rem;
    margin: 0.5rem;
  }

  .menu .box-container .box .content p {
    font-size: 1rem;
    margin: 0.5rem;
  }

  .menu .box-container .box .content .price {
    font-size: 1.5rem;
    margin: 0.5rem;
  }

  .about .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .review .review-slider {
    padding: 0rem;
  }
}

/* 
  ##Device = Laptops, Desktops  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  
  .header #menu-btn {
    display: none;
  }

  .about .row .image{
    height: 100%;
  }

   .about .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu .box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 2rem;
  }

}

/* 
  ##Device = Desktops  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  
  header #menu-btn {
    display: none;
  }

  .home .row .content {
    width: 95%;
    padding-top: 3rem;
  }

  .home .row .content h3 {
    font-size: 9rem;
    text-wrap: wrap;
    width: fit-content;
  }

  .home .image-slider {
    padding-top: 27rem;
  }

  .home .image-slider img {
    height: 18rem;
  }

  .home .row .image {
    padding: 4rem 0rem 0rem 10rem;
  }

  .home .row .image img {
    height: 36rem;
  }

  .home {
    background-size: 240rem;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 20rem;
  }
}